:root{
    --bs-primary: #CA2CF5;
    --bs-secondary: #FFE6AC;
    --bs-primary-rgb: 202, 44, 245;
    --bs-secondary-rgb: 255, 230, 172;
    --bs-primary-text-emphasis: #735102;
    --bs-secondary-text-emphasis: #ab986c;
    --bs-primary-bg-subtle: #d99e14;
    --bs-secondary-bg-subtle: #fbebc4;
    --bs-primary-border-subtle: #d99e14;
    --bs-secondary-border-subtle: #fbebc4;
  }
.navbar-brand img{
  max-width: 150px;
}
  .header-img {
    max-width: 100%;
    margin: auto;
  }

  i {
    color: white;
  }
  .wrapper {
    max-width: 1000px;
    margin: auto;
  }

  form button {
    background-color: pink;
    color: black;
    border: 1px solid black;
    padding: 1rem;
  }

  .submit:hover {
    background-color:lavender;
    color: black;
    transition: .5s ease-in-out;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .bg-primary{
    max-width: 1000px;
    margin: auto;
  }

  .product-center{
    text-align: center;
  }

  .about-banner {
    text-align: center;
  }

  footer{
    background-color: yellow;
    max-width: 1000px;
    position: sticky;
    height: 40px;
    margin: auto;
    display: grid;
    text-align: center;
  }

  /* Contact Information */
  form input,
form textarea {
  display: block;
  width: 75%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

  form textarea {
    min-height: 150px;
    max-height: 150px;
    resize: none;
  }